{% extends 'profile/base.html' %}

{% block styles %}
<style>
  .starter-template{
    color:blue;
  }
h1{
  color: red;
  font-size: 24px;
}
</style>
{% endblock %}

{% block start-template %}
<div class="starter-template">
  <h1>Bootstrap starter template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>
{% endblock %}

{% block content %}
  <h1>Hello profile home</h1>
{% endblock %}
