{% extends 'profile/base.html' %}
{% load static %}
{% block styles %}
<style>
  .starter-template{
    color:blue;
  }
h1{
  color: red;
  font-size: 24px;
}
</style>
{% endblock %}

{% block start-template %}
<div class="starter-template">
  <h1>Bootstrap starter template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <img src="{% static 'img/home.jpg' %}" alt="mosque" class="img-fluid" alt="Responsive image" >
        </div>
        <div class="col-md-4">
          {% if request.user.is_authenticated %}
            <h3>Hello, {{ request.user }}</h3>
          {% else %}
          <h1>Sign In</h1>
          <p>If you have not created an account yet, then please
          <a href="{% url 'account_signup' %}">sign up</a> first.</p>
          <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
            <div id="div_id_login" class="form-group"> <label for="id_login" class=" requiredField">
                            Login<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="login" placeholder="Username or e-mail" autofocus="autofocus" class="textinput textInput form-control" required="" id="id_login"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField">
                            Password<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="password" placeholder="Password" class="textinput textInput form-control" required="" id="id_password"> </div> </div> <div class="form-group"> <div id="div_id_remember" class="form-check"> <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember"> <label for="id_remember" class="form-check-label">
                                Remember Me
                            </label> </div> </div>
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
              <button class="btn btn-primary primaryAction" type="submit">Sign In</button>
          </form>
          {% endif %}
        </div>
      </div>
{% endblock %}
